html, body {
    background-image: url(https://www.goodfreephotos.com/albums/other-photos/backgrounds/blue-watercolor-background.jpg);
    margin: 0 0;
    width: 100%;
    height:100%;
}

h1 {
    margin: 0 0;
}