html {
    background-image: url(https://www.goodfreephotos.com/albums/other-photos/backgrounds/blue-watercolor-background.jpg);
    margin: 0 0;
    width: 100%;
    height:100%;
} 

h1 {
    margin: 0 auto;
}

#description {
    margin-top: 5px;
}

body {
    width: 80%;
    height: 90%;
    margin: 35px auto;
    text-align: center;
    background-color: rgb(219, 226, 220);
    font-family: Tahoma;
    padding-top: 20px;
}

input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    min-height: 2em;
}

#accomodation-question {
    margin-bottom: 10px;
}

.lodgings {
    display: block;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    border-bottom: solid 3px rgb(112, 180, 210);
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

#allergy {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
}